// Colors
$first-font-color: #333;
$second-font-color: #ab5249;
$background-color: #fff;
$background-color-footer: #444;
$text-color-footer: #aaa;
$background-color-list: #f3f3f3;
$background-nav-color: #252831;
$hover-a-color: #3397db;
$border-color: #ccc;
$list-title-color: #f18200;
// $text-nav-color: rgb(138, 138, 138);
// $hover-text-nav-color: rgb(100, 100, 100);
// $selected-text-nav-color: rgb(60, 60, 60);
// $box-border-color: rgb(230, 230, 230);
// $first-article-text-color: rgb(60, 60, 60);
// $second-article-text-color: rgb(70, 70, 70);

// Font
$first-font: Arial, Helvetica, sans-serif;
$second-font: Arial, sans-serif;