// Colors
$first-font-color: #333;
$second-font-color: #ab5249;
$background-color: #fff;
$background-nav-color: #252831;
$hover-a-color: #3397db;
// $text-nav-color: rgb(138, 138, 138);
// $hover-text-nav-color: rgb(100, 100, 100);
// $selected-text-nav-color: rgb(60, 60, 60);
// $box-border-color: rgb(230, 230, 230);
// $first-article-text-color: rgb(60, 60, 60);
// $second-article-text-color: rgb(70, 70, 70);

// $white: white;
// $black: black;

// Font
$first-font: Arial, Helvetica, sans-serif;
$first-font-size: 10pt;