// Variables
@import 'imports/_variables.scss';
// Media queries
@import 'imports/_media-queries.scss';

// html
html {
    overflow: hidden;
    height: 100%;
} 

// body
body {
    padding: 0;
    margin: 0;
    background-color: $background-color;
    font-family: $first-font;
    font-size: 10pt;
    color: $first-font-color;
    line-height: 1.5em;
    display: block;
    height: 100%;
    overflow: auto;
}

// header
header {
    nav {
        width: 100%;
        height: 80px;
        background-color: $background-nav-color;
        display: grid;
        justify-items: center;
        align-items: center;
        h1 {
            a {
                color: white;
                font-size: 14pt;
                font-weight: 200;
                letter-spacing: 5px;
                text-transform: uppercase;
            }
        }
    }
    #breadcrumb {
        padding: 15px 20px 15px 30px;
        list-style: none;
        background-color: $background-color-breadcrumb;
        font-size: 14px;
        margin: 0;
        li {
            display: inline;
            a {
                color: #0275d8;
                text-decoration: none;
                &:hover {
                    color: #01447e;
                    text-decoration: underline;
                }
            }
        }
        li+li:before {
            padding: 8px;
            content: "/\00a0";
        }
    }
}

// main
main {
    #map-container {
        #map {
            height: 400px;
            width: 100%;
        }
    }
    #restaurantscontainer {
        .filter-options {
            width: 100%;
            padding: 20px 0 30px;
            background-color: $hover-a-color;
            display: grid;
            grid-gap: 20px;
            grid-template-columns: 85%;
            align-items: center;
            justify-content: center;
            align-content: center;
            @include tablet-landscape-up {
                grid-template-columns: 15% 35% 35%;
                padding: 30px 0;
                grid-gap: 30px;
            }
            h2 {
                color: white;
                font-weight: normal;
                margin: 0;
            }
            select {
                border: 1px solid #fff;
                font-size: 12pt;
                height: 50px;
            }
        }
        #restaurants-list {
            background-color: $background-color-list;
            list-style: none;
            margin: 0;
            padding: 5vw 5vw;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
            grid-gap: 5vw;
            li {
                background-color: $background-color;
                border: 2px solid $border-color;
                font-family: $second-font;
                display: grid;
                grid-template-columns: 20px 1fr 10px;
                grid-template-rows: repeat(5, auto);
                margin: 0;
                .restaurant-img {
                    background-color: #ccc;
                    margin: 0;
                    max-width: 100%;
                    grid-column: 1 / -1;
                }
                h1 {
                    color: $list-title-color;
                    font-weight: 200;
                    margin: 20px 0 10px;
                    text-transform: uppercase;
                    grid-column-start: 2;
                }
                p {
                    margin: 0;
                    font-size: 11pt;
                    grid-column-start: 2;
                }
                a {
                    background-color: orange;
                    // border-bottom: 3px solid #eee;
                    color: white;
                    font-size: 12pt;
                    margin: 15px 0 0;
                    padding: 8px 0;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    grid-column: 1 / -1;
                }
            }
        }
    }
}

// footer
footer {
    background-color: $background-color-footer;
    color: $text-color-footer;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
}

// a tags
a {
    color: orange;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $hover-a-color;
    }
}




a img {
    border: none 0px #fff;
}


h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
}



#restaurant-name {
    color: #f18200;
    font-family: Arial, sans-serif;
    font-size: 20pt;
    font-weight: 200;
    letter-spacing: 0;
    margin: 15px 0 30px;
    text-transform: uppercase;
    line-height: 1.1;
}

#restaurant-img {
    width: 90%;
}

#restaurant-address {
    font-size: 12pt;
    margin: 10px 0px;
}

#restaurant-cuisine {
    background-color: #333;
    color: #ddd;
    font-size: 12pt;
    font-weight: 300;
    letter-spacing: 10px;
    margin: 0 0 20px;
    padding: 2px 0;
    text-align: center;
    text-transform: uppercase;
    width: 90%;
}

#restaurant-container,
#reviews-container {
    border-bottom: 1px solid #d9d9d9;
    border-top: 1px solid #fff;
    padding: 140px 40px 30px;
    width: 50%;
}

#reviews-container {
    padding: 30px 40px 80px;
}

#reviews-container h2 {
    color: #f58500;
    font-size: 24pt;
    font-weight: 300;
    letter-spacing: -1px;
    padding-bottom: 1pt;
}

#reviews-list {
    margin: 0;
    padding: 0;
}

#reviews-list li {
    background-color: #fff;
    border: 2px solid #f3f3f3;
    display: block;
    list-style-type: none;
    margin: 0 0 30px;
    overflow: hidden;
    padding: 0 20px 20px;
    position: relative;
    width: 85%;
}

#reviews-list li p {
    margin: 0 0 10px;
}

#restaurant-hours td {
    color: #666;
}
